<div class="header row">
  <div class="col infoContainer">
    <span class="row baseline">
      <span class="title">Credit Note:</span>
      <span class="number">{{model.creditNoteNumber}}</span>
    </span>

    <span class="date">{{date}}</span>
    <span class="col">
      <span class="company">{{model.location.company.name}}</span>
      <span class="location">{{model.location.code}} - {{model.location.name}}</span>
    </span>
  </div>
</div>

<div class="rowContainer">
  {{#each validCreditNoteItems as |cni|}}
    {{rows/cost-quantity-row
        name=cni.item.name
        unitPrice=cni.unitPrice
        quantity=cni.quantity}}
  {{/each}}
</div>

{{rows/total-row
    name="Total"
    total=total}}
