<div class="row">
  {{link-to 'RS' 'route-plans'}}
</div>

<div class="row">
  {{#if authenticated}}
    <span class="row vcenter">
      <span class="name">{{name}}</span>
      <a href="#" {{action logout}}>
        <span class="label">Logout</span>
      </a>
    </span>
  {{else}}
    <a href="#" {{action login}}>Login</a>
  {{/if}}
</div>
