<div class="header">
  <span class="title row stretch">{{title}}</span>
  <div class="col info">
    <div class="col">
      <span class="row stretch infoRow">
        <span class="content orderNumber">{{model.orderNumber}}</span>
      </span>
      <span class="row stretch infoRow">
        <span class="content">{{date}}</span>
      </span>
      <span class="row stretch infoRow">
        <span class="content">{{model.location.company.name}}</span>
      </span>
    </div>
  </div>
</div>

<div class="rowContainer">
  {{#each validOrderitems as |orderItem|}}
    {{rows/cost-quantity-row
        name=orderItem.item.name
        unitPrice=orderItem.unitPrice
        quantity=orderItem.quantity}}
  {{/each}}

  {{rows/total-row
      name="Total"
      total=total}}
</div>
