<div class="row baseline">
  <span class="index">{{index}}.</span>
  <span class="itemCode">{{stockLevel.item.code}}</span>
  <span class="itemName">{{stockLevel.item.name}}</span>
</div>
<div class="row fields">
  {{one-way-input stockLevel.starting
    class="startingInput"
    pattern="[0-9]*"
    inputmode="numeric"
    update=(action (mut stockLevel.starting))
    onblur=(action "cleanNumericField" "stockLevel.starting")}}

  {{one-way-input stockLevel.returns
    class="returnsInput"
    pattern="[0-9]*"
    inputmode="numeric"
    update=(action (mut stockLevel.returns))
    onblur=(action "cleanNumericField" "stockLevel.returns")}}
</div>
